<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
  </configSections>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net> 
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime maxRequestLength="500000000"  executionTimeout="240" />
	
      </system.Web>
  -->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CMSdb" value="Data Source=118.107.208.111,1433;Initial Catalog=CMSdb;User ID=sa;Password=AER9yF59" />
    <add key="IFMdb" value="Data Source=118.107.208.111,1433;Initial Catalog=MlmSMS;User Id=sa;Password=AER9yF59;" />
    <add key="eBookDB" value="Data Source=118.107.208.111,1433;Initial Catalog=eBook;User Id=sa;Password=AER9yF59;" />
    <add key="DPEdb" value="Data Source=118.107.208.111,1433;Initial Catalog=DPE;User Id=sa;Password=AER9yF59;" />
    <add key="ApiDb" value="Data Source=118.107.208.111,1433;Initial Catalog=API;User Id=sa;Password=AER9yF59;" />
    <add key="CommonDB32" value="Data Source=118.107.208.111,1433;Initial Catalog=mlmsms;User ID=sa;Password=AER9yF59" />
    <add key="SCdb" value="Data Source=118.107.208.111,1433;Initial Catalog=SC;User Id=sa;Password=AER9yF59" />
    <add key="ABESTdb" value="Data Source=118.107.208.111,1433;Initial Catalog=Business;User Id=sa;Password=AER9yF59" />
    <add key="GsPayPalDb" value="Data Source=118.107.208.111,1433;Initial Catalog=GsPayPal;User Id=sa;Password=AER9yF59" />
    <add key="WebSiteName" value="12smsbusiness" />
    <add key="LoginTitle" value="Partner Login" />
    <add key="AnchorDomainName" value="eVenchise.com" />
    <add key="EmailRcpList1" value="kallurusiva@gmail.com" />
    <add key="EmailRcpList2" value="samvoon@yahoo.com" />
    <add key="SMSRcpList" value="60162531066" />
    <add key="ImgStoreFolder" value="/ImageRepository/" />
    <add key="StartPage" value="Ad_TemplateSet.aspx" />
    <add key="SessionTimedOutPage" value="http://www.1worldsms.com/SessionTimedOut.aspx" />
    <add key="TestLoginUser" value="135" />
    <add key="testMobileNumber" value="60162531066" />
    <add key="isDemo" value="false" />
    <add key="ShowGenericErrorPage" value="true" />
    <add key="TrialPeriodStartDate" value="2012-06-05" />
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;"/>-->
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;" />
    <add key="DefMbTemplate" value="MbStyleButtons_t7.css" />
    <add key="ExtraWebButtonID" value="14" />
    <add key="BizLoginCheckURL" value="http://183.81.165.110/WebApps/hitechdigital/1SmsWebSite_Loader.aspx" />
    <add key="BizLoginCheckURLMain" value="http://183.81.165.110/WebApps/hitechdigital/1SmsWebSite_BizMemberCheck.aspx" />
    <add key="HitechSMSURL" value="http://abest.smsebusiness.com/ValidateUserLogin_FromMyHitechSMS.aspx" />
    <add key="HitechSMSTransitURL" value="http://abest.smsebusiness.com/SMSloginTransit.aspx" />
    <add key="HitechALLURL" value="http://abest.smsebusiness.com/ValidateUserLogin_FromMyHitechALL.aspx" />
    <add key="DPE_SMSURL" value="http://abest.smsebusiness.com/ValidateUserLogin_FromDPE.aspx" />
    <add key="PREMIUM3WAYSMSURL" value="http://abest.smsebusiness.com/ValidateUserLogin_FromMyPremiumSMS.aspx" />
    <add key="Switch2ebookURL" value="http://www.evenchiselogin.com/MyPremiumLoginValidation.aspx" />
    <add key="Switch2PrSMSsystemURL" value="http://abest.smsebusiness.com/ValidateUserLogin_FromMyEbook.aspx" />
    <add key="EBookDomainURL" value="http://www.evenchiselogin.com/index.html" />
    <add key="EbookImageFolder" value="/DocumentRepository/eBookImages/" />
    <add key="EbookFileFolder" value="/DocumentRepository/eBooks/" />
    <add key="EbookImageFolderNew" value="http://118.107.208.111/cmsdb/DocumentRepository/eBookImages/" />
    <add key="EbookFileFolderNew" value="http://118.107.208.111/cmsdb/DocumentRepository/eBooks/" />
    <add key="EbookImageFolderReq" value="http://118.107.208.111/cmsdb/DocumentRepository/ReqImages/" />
    <add key="EbookFileFolderReq" value="http://118.107.208.111/cmsdb/DocumentRepository/ReqEBooks/" />
    <add key="EbookFileFolderDownload" value="http://118.107.208.111/cmsdb/DocumentRepository/DownloadBooks/" />
    <add key="HostingServer" value="IXWEBHOSTING" />
    <add key="BulkReceiveMainUrl" value="http://gs.evenchise.biz/Receivers/API/BulkReceiveMain.asp" />
    <add key="webSMEStatusURL" value="http://gs.evenchise.biz/mlmsms/adminx/webSMEstatus.asp" />
    <add key="SMEWEBurl" value="http://gs.evenchise.biz/mlmsms/offline/SMEWEB.asp" />
    <add key="SA_AddNewUser_URL" value="http://gs.evenchise.biz/adminx/WebPin_AddNewUser_ByAdmin_Post.asp" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2097151" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
	
  </system.webServer>
  <!--<pages>
    <controls>
      <add tagPrefix="asp" namespace="System.Web.UI.HtmlControls" assembly="System.Web"/>
    </controls>
  </pages>-->
</configuration>