
.TopMenuBkgColor { background-color: #FF755C;}


.dvMenuBar {
   padding: 10px;
   display: block;
   border-radius: 15px 15px 0 0;
   border: 1px solid rgba(0,0,0,0.1);
   background: #FF755C;
   height: 30px;
   text-align:center;
   vertical-align: text-bottom;
}


.D3menu     {font: bold 16px Arial;width: 100%;overflow: visible;}

.D3menu ul  { 
            margin: 0;padding: 0;float: left;width: 100%; position:relative;display:block;
            list-style-type:none;text-transform:uppercase;
            vertical-align: top;            
}
.D3menu ul li   {display: inline; vertical-align:middle;}

.D3menu ul li a { float:left; color: white; padding:6px 10px 10px 10px;text-decoration: none;  
                       text-shadow: 0 1px 1px #111;
                       margin-left: 5px;
                   /*  border-right: 1px solid #564c66; dark purple divider between menu items*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
     box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
    
   
}


.D3menu ul li a:visited {color: white;}
.D3menu ul li a:hover, .indentmenu ul li .current{
color: white !important; /*text color of selected and active item*/
padding-top: 6px; /*shift text down 1px for selected and active item*/
padding-bottom: 4px; /*shift text down 1px for selected and active item*/
 border-top: 2px solid #564c66; 
 background-color: #FF755C;
}

.dvfooter    { height: 30px; background-color:#FF755C;
                
                border: 1px solid rgba(0,0,0,0.1);
                border-radius: 0 0 15px 15px;
                -moz-border-radius: 0 0 15px 15px;
                -webkit-border-radius: 0 0 15px 15px;
}


.dvBoxUp {
    
  
   padding: 10px;
   display: block;
   border-radius: 15px 15px 0 0;
   border: 1px solid rgba(0,0,0,0.1);
   background: #FFFFFF;
   height: 100px;
   width: 150px;
    text-align:center;
   vertical-align: text-bottom;
}

.dvBoxDown {
    padding:10px;
    display: block;
    background: #FF755C;
    /*background: rgba(0,0,0,0.06); */
    border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    -webkit-border-radius: 0 0 15px 15px;

    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
    text-align:center;
     height: 30px;
     width: 150px;
}

.h3font {

    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:16px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.7);

}

.tc {text-decoration: none;}

.h1font {
    text-decoration: none;
    font-family:"Myriad", "Trebuchet MS", sans-serif;
	font-size:11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    
    

}

.upImage 
{
    padding-top: 20px;
    max-height: 80px;
    max-width : 120px;

}




.rTape,
.rTape * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.rTape {
    font: normal 12px/1.5 "Lucida Grande", arial, sans-serif;
    margin: 10px auto 10px;
    padding: 0 10px 4px;
    position: relative;
    color: #444;
    background: #fff;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.rTape h3 {
    font: bold 14px/1.3 "Lucida Grande", arial, sans-serif;
    display: block;
    height: 30px;
    width: 810px;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: white;
    text-shadow: 0 1px 1px #1D1C1C;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;

     background-color: #FF755C; 
     /*
    background: #FFD700;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD700), to(#FDEFA4));  
    background: -webkit-linear-gradient(top, #FFD700 0%, #FDEFA4 100%);
    background: -moz-linear-gradient(top, #FFD700 0%, #FDEFA4 100%);
    background: -ms-linear-gradient(top, #FFD700 0%, #FDEFA4 100%);
    background: -o-linear-gradient(top, #FFD700 0%, #FDEFA4 100%);
    background: linear-gradient(top, #FFD700 0%, #FDEFA4 100%); */

    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.rTape h3::before,
.rTape h3::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #242424 transparent transparent transparent;    
}
.rTape h3::before {left: 0;}
.rTape h3::after {right: 0;}



.D3BookName {
    padding: 2px; 
    color: #AB45FA; font-style:italic; font: bold 102%/100% "Myriad Pro", "Exo","Lucida Console", Arial, sans-serif; 
}

.D3BookCssHp
{
       border: 1px dotted #BAC0C7;
    padding: 15px; 
    height: 200px;
    margin: 2px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 170px;
    height: 250px;
    float: left; 
    margin-left: 20px;
}


.D3BookImgCssHp {

    width: 115px;
    height:155px;
}




/* Dark Button CSS */

.button-list { list-style: none; padding: 0; margin: 0; width: 100%; float: left; display: block; margin: 0 0 30px; }
.button-list li { float: left; margin: 0 10px 0 0; }
	

.dkButton {
    outline: 0;
    padding: 5px 12px;
    display: block;
    color: #9fa8b0;
    font-weight: bold;
    text-shadow: 1px 1px #1f272b;
    border: 1px solid #1c252b;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #232B30; /* old browsers */
    background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#3D4850), color-stop(4%,#313d45), color-stop(100%,#232B30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 ); /* ie */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.dkButton:hover {
    color: #fff;
    background: #4C5A64; /* old browsers */
    background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4C5A64), color-stop(4%,#404F5A), color-stop(100%,#2E3940)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 ); /* ie */
}
.dkButton:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    padding: 6px 12px 4px;
    background: #20282D; /* old browsers */
    background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#20282D), color-stop(51%,#252E34), color-stop(100%,#222A30)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}