
@import url( http://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster );
@import url( http://fonts.googleapis.com/css?family=Lobster );

.disabled.BintButton {
	color: rgba(110, 10, 0, 0.2) !important; border-top-color: currentColor; 
	border-top-width: medium; 
	border-top-style: none;
	cursor: default; opacity: 0.5; 
	background-color: hsl(39, 100%, 65%); 
	
}
.disabled.BintButton:hover {
	color: rgba(0, 0, 0, 0.2) !important; border-top-color: currentColor; border-top-width: medium; border-top-style: none; cursor: default; opacity: 0.5; box-shadow: inset 0px 0.3em 0.3em rgba(255,254,255,0.4), inset 0px -0.1em 0.3em rgba(0,0,0,0.1), 0px 0.1em 1px rgba(0,0,0,0.3), 0px 0.2em 6px rgba(0,0,0,0.2); text-shadow: none !important; transform: translateY(5px); background-image: none; background-color: rgba(0, 0, 0, 0.05); -webkit-box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em .3em, inset rgba(0, 0, 0, 0.1) 0 -0.1em .3em, rgba(0, 0, 0, 0.3) 0 .1em 1px, rgba(0, 0, 0, 0.2) 0 .2em 6px; -moz-box-shadow: inset rgba(255, 254, 255, 0.4) 0 0.3em .3em, inset rgba(0, 0, 0, 0.1) 0 -0.1em .3em, rgba(0, 0, 0, 0.3) 0 .1em 1px, rgba(0, 0, 0, 0.2) 0 .2em 6px; -webkit-transform: translateY(5px); -moz-transform: translateY(5px);
}

.BintButton {
	font: bold 24px/1em "Droid Sans", sans-serif; 
	/*margin: 0.5em; */
	border-radius: 8px; transition:background 0.2s ease-in-out; 
	/*color: hsl(90%, 0%, 0%) !important; */
	color: #fff; 
	padding: 0.6em 0.3em 0.6em 0.2em;
    font-size-adjust: none;
	font-stretch: normal;

	text-decoration: none; 
	text-align: center;
	border-top-color: rgba(255, 255, 255, 0.8); border-bottom-color: rgba(0, 0, 0, 0.1); border-top-width: 1px; border-bottom-width: 1px;
	border-top-style: solid; border-bottom-style:solid; display: inline-block; position: relative; 
	
	box-shadow: inset 0px 0.3em 0.3em rgba(255,254,255,0.6), inset 0px -0.1em 0.3em rgba(0,0,0,0.15), 0px 0.1em 3px hsl(0,0%,60%), 0px 0.3em 1px hsl(0,0%,45%), 0px 0.5em 5px rgba(0,0,0,0.2); 
	/*text-shadow: 0px 1px 0px rgba(255,255,255,0.5); */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	background-color: hsl(0, 0%, 75%); 
	-webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px; -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px; 
	-webkit-border-radius: 8px; -moz-border-radius: 8px; 
	-webkit-user-select: none; -moz-user-select: none; user-select: none; 
	-webkit-transition: background .2s ease-in-out; -moz-transition: background .2s ease-in-out;

}
BintButton.BintButton {
	border-right-color: currentColor; border-left-color: currentColor; border-right-width: medium; border-left-width: medium;
	 border-right-style: none; border-left-style: none;
}
BintButton.BintButton:hover 
{
  background: inherit;
	cursor: pointer;
}
.BintButton::before {
	font: 1.2em/0 sans-serif; margin-right: 1px; content: attr(data-icon); font-size-adjust: none; font-stretch: normal;
}




.orange.BintButton {
	color: #FFF !important; box-shadow: inset 0px 0.3em 0.3em rgba(255,254,255,0.6), inset 0px -0.1em 0.3em rgba(0,0,0,0.15), 0px 0.1em 3px hsl(39,100%,40%), 0px 0.3em 1px hsl(39,100%,30%), 0px 0.5em 5px rgba(0,0,0,0.2); 
	background-color: #34AEB2; -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px; -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(39, 100%, 40%) 0 .1em 3px, hsl(39, 100%, 30%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px;
    top: 4px;
    left: 0px;
    height: 12px;
}
.orange.BintButton:hover {
	background-color: hsl(39, 100%, 65%);
}
.blue.BintButton {
	color: hsl(208, 50%, 40%) !important; box-shadow: inset 0px 0.3em 0.3em rgba(255,254,255,0.6), inset 0px -0.1em 0.3em rgba(0,0,0,0.15), 0px 0.1em 3px hsl(208,50%,55%), 0px 0.3em 1px hsl(208,50%,40%), 0px 0.5em 5px rgba(0,0,0,0.2); background-color: hsl(208, 100%, 75%); -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px; -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px;
    top: 4px;
    left: 0px;
}
.blue.BintButton:hover {
	background-color: hsl(208, 100%, 83%);
}
.green.BintButton {
	color: hsl(88, 20%, 30%) !important; box-shadow: inset 0px 0.3em 0.3em rgba(255,254,255,0.6), inset 0px -0.1em 0.3em rgba(0,0,0,0.15), 0px 0.1em 3px hsl(88,70%,40%), 0px 0.3em 1px hsl(88,70%,30%), 0px 0.5em 5px rgba(0,0,0,0.2); background-color: hsl(88, 70%, 60%); -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px; -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(88, 70%, 40%) 0 .1em 3px, hsl(88, 70%, 30%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px;
}
.green.BintButton:hover {
	background-color: hsl(88, 70%, 75%);
}
.pink.BintButton {
	color: hsl(340, 100%, 30%) !important; box-shadow: inset 0px 0.3em 0.3em rgba(255,254,255,0.6), inset 0px -0.1em 0.3em rgba(0,0,0,0.15), 0px 0.1em 3px hsl(340,70%,50%), 0px 0.3em 1px hsl(340,80%,40%), 0px 0.5em 5px rgba(0,0,0,0.2); background-color: hsl(340, 100%, 75%); -webkit-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px; -moz-box-shadow: inset rgba(255, 254, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.15) 0 -0.1em .3em, hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, rgba(0, 0, 0, 0.2) 0 .5em 5px;
}
.pink.BintButton:hover {
	background-color: hsl(340, 100%, 83%);
}
.transparent.BintButton {
	color: rgba(0, 0, 0, 0.5) !important;
}
.transparent.BintButton {
	background-image: none; background-color: transparent;
}
.transparent.BintButton:hover {
	background-image: none; background-color: transparent;
}
.transparent.BintButton:active {
	background-image: none; background-color: transparent;
}
.transparent.BintButton:hover {
	opacity: 0.9;
}
.BintButton:hover {
	background-color: hsl(0, 0%, 83%);
}
.BintButton:active {
	box-shadow: inset 0px 0.3em 0.3em rgba(255,255,255,0.6), inset 0px -0.1em 0.3em rgba(0,0,0,0.2), 0px 0.1em 1px rgba(0,0,0,0.4), 0px 0.2em 6px rgba(0,0,0,0.2); transform: translateY(0.2em); -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em .3em, rgba(0, 0, 0, 0.4) 0 .1em 1px, rgba(0, 0, 0, 0.2) 0 .2em 6px; -moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 0.3em .3em, inset rgba(0, 0, 0, 0.2) 0 -0.1em .3em, rgba(0, 0, 0, 0.4) 0 .1em 1px, rgba(0, 0, 0, 0.2) 0 .2em 6px; -webkit-transform: translateY(.2em); -moz-transform: translateY(.2em);
}
.BintButton:focus {
	color: rgba(254, 255, 255, 0.9) !important; text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}


.serif {
	font-family: "Lobster", serif; font-weight: normal;
}
.xs {
	font-size: 16px;
}
.xl {
	font-size: 32px;
}

.xfnt8 {font-size: 9px;}
.xfnt10 {font-size: 10px; color:Teal;}
.xfnt12 {font-size: 12px; color: Teal;}
.xfnt14 {font-size: 14px; color:Teal;}

.xbtnSize0		{ min-width: 50px; padding: 0.6em 0.3em 0.1em 0.3em; margin-bottom: 5px; }

.xbtnSize1		{ min-width: 135px; min-height: 70px;	padding: 2em 0.2em 0.1em 1.5em; }
.xbtnSize2		{ min-width: 100px; min-height: 50px;  padding: 2em 1em 0.6em 3em;}
.xbtnSize3		{ min-width: 60px;  min-height: 30px;	padding: 2.5em 1em 0.6em 2em; }
.xbtnSize4		{ min-width: 20px;  min-height: 20px;	padding:1em .6em 0.6em 1em;}


.flag60
{
	/*float:left; top:30px; left:10px; */
	background:url(../Images/Flags/rndflag_60.png) no-repeat;
	background-position: 10% 20%;
	background-size: 39px 39px;
}

.flag2_60
{
	/*float:left; top:30px; left:10px; */
	background:url(../Images/Flags/rndflag_60.png) no-repeat;
	background-position: 10% 20%;
	background-size: 27px 27px;
}

.flagPos3
{
	background-position: 10% 20%;
	background-size: 27px 27px;
	
}

.flagPos4
{
	background-position: 50% 50%;
	background-size: 27px 27px;
	
	
}
.flag62
{
	background:url(../Images/Flags/rndflag_62.png) no-repeat;
	background-position: 10% 20%; 
	background-size: 39px 39px;
}
.flag63
{
	background:url(../Images/Flags/rndflag_63.png) no-repeat;
	background-position: 10% 20%;
	background-size: 39px 39px;
}
.flag65
{
	background:url(../Images/Flags/rndflag_65.png) no-repeat;
	background-position: 10% 20%;
	background-size: 39px 39px;
}

.flag66
{
	background:url(../Images/Flags/rndflag_66.png) no-repeat;
	background-position: 10% 20%;
	background-size: 39px 39px;
}

.flag673
{
	background:url(../Images/Flags/rndflag_673.png) no-repeat;
	background-position: 10% 20%;
	background-size: 39px 39px;
}

.VisibleFalse { opacity: 0;}
.glossy.BintButton::after {
	border-radius: 0.5em 0.5em 1em 1em / 0.5em 0.5em 2em 2em; left: 5%; top: 0px; width: 90%; height: 60%; position: absolute; content: ""; -webkit-border-radius: .5em .5em 1em 1em /.5em .5em 2em 2em; -moz-border-radius: .5em .5em 1em 1em /.5em .5em 2em 2em;
}
.glass.BintButton::after {
	border-radius: 0.5em 0.5em 1em 1em / 0.5em 0.5em 2em 2em; left: 5%; top: 0px; width: 90%; height: 60%; position: absolute; content: ""; -webkit-border-radius: .5em .5em 1em 1em /.5em .5em 2em 2em; -moz-border-radius: .5em .5em 1em 1em /.5em .5em 2em 2em;
}
.glossy.BintButton:active::after {
	opacity: 0.6;
}
.glass.BintButton:active::after {
	opacity: 0.6;
}
.disabled.BintButton::after {
	opacity: 0.9;
}
[disabled].BintButton::after {
	opacity: 0.9;
}
.glossy.icon.BintButton::after {
	height: 75%;
}
.glass.icon.BintButton::after {
	height: 75%;
}
.glass.BintButton {
	text-shadow: 0px -1px 0px rgba(255,255,255,0.5), 0px 0.18em 0.15em rgba(0,0,0,0.18);
}
.glass.BintButton:active {
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3), 0px 0.18em 0.15em rgba(0,0,0,0.15);
}
.round {
	border-radius: 1em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 1em; -moz-border-radius: 1em;
}
.glossy.round::after {
	border-radius: 1em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 1em; -moz-border-radius: 1em;
}
.glass.round::after {
	border-radius: 1em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 1em; -moz-border-radius: 1em;
}
.oval {
	border-radius: 5em / 2em; padding-right: 0.8em; padding-left: 0.8em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 5em /2em; -moz-border-radius: 5em /2em;
}
.glossy.oval::after {
	border-radius: 5em / 2em 2em 1em 1em; top: 5%; -webkit-border-radius: 5em /2em 2em 1em 1em; -moz-border-radius: 5em /2em 2em 1em 1em;
}
.glass.oval::after {
	border-radius: 5em / 2em 2em 1em 1em; top: 5%; -webkit-border-radius: 5em /2em 2em 1em 1em; -moz-border-radius: 5em /2em 2em 1em 1em;
}
.icon.oval {
	border-radius: 1.5em / 1em; padding-right: 0.8em; padding-left: 0.8em; -webkit-border-radius: 1.5em /1em; -moz-border-radius: 1.5em /1em;
}
.glossy.icon.oval::after {
	border-radius: 1.5em / 1em; -webkit-border-radius: 1.5em /1em; -moz-border-radius: 1.5em /1em;
}
.glass.icon.oval::after {
	border-radius: 1.5em / 1em; -webkit-border-radius: 1.5em /1em; -moz-border-radius: 1.5em /1em;
}
.brackets {
	border-radius: 0.5em / 1em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: .5em /1em; -moz-border-radius: .5em /1em;
}
.glossy.brackets::after {
	border-radius: 0.5em / 1em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: .5em /1em; -moz-border-radius: .5em /1em;
}
.glass.brackets::after {
	border-radius: 0.5em / 1em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: .5em /1em; -moz-border-radius: .5em /1em;
}
.skew {
	border-radius: 5em 1em; padding-right: 1.2em; padding-left: 0.8em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 5em 1em /5em 1em; -moz-border-radius: 5em 1em /5em 1em;
}
.glossy.skew::after {
	border-radius: 7em 1em / 5em 1em; left: 10%; -webkit-border-radius: 7em 1em /5em 1em; -moz-border-radius: 7em 1em /5em 1em;
}
.glass.skew::after {
	border-radius: 7em 1em / 5em 1em; left: 10%; -webkit-border-radius: 7em 1em /5em 1em; -moz-border-radius: 7em 1em /5em 1em;
}
.icon.skew {
	padding-right: 0.9em; padding-left: 0.8em;
}
.back {
	border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em; border-top-color: rgba(255, 255, 255, 0.5); -webkit-border-radius: 1.6em 1.6em 1em 1em /4em 4em 1em 1em; -moz-border-radius: 1.6em 1.6em 1em 1em /4em 4em 1em 1em;
}
.glossy.back::after {
	border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em; border-top-color: rgba(255, 255, 255, 0.5); -webkit-border-radius: 1.6em 1.6em 1em 1em /4em 4em 1em 1em; -moz-border-radius: 1.6em 1.6em 1em 1em /4em 4em 1em 1em;
}
.glass.back::after {
	border-radius: 1.6em 1.6em 1em 1em / 4em 4em 1em 1em; border-top-color: rgba(255, 255, 255, 0.5); -webkit-border-radius: 1.6em 1.6em 1em 1em /4em 4em 1em 1em; -moz-border-radius: 1.6em 1.6em 1em 1em /4em 4em 1em 1em;
}
.glossy.back::after {
	left: 6%; width: 88%;
}
.glass.back::after {
	left: 6%; width: 88%;
}
.knife {
	border-radius: 0.2em 0.5em 0.5em 8em / 0.2em 0.5em 0.5em 5em; padding-left: 1.5em; -webkit-border-radius: .2em .5em .5em 8em /.2em .5em .5em 5em; -moz-border-radius: .2em .5em .5em 8em /.2em .5em .5em 5em;
}
.glossy.knife::after {
	border-radius: 0.1em 0.5em 0.5em 8em / 0.1em 0.5em 0.5em 2em; left: 3%; width: 97%; -webkit-border-radius: .1em .5em .5em 8em /.1em .5em .5em 2em; -moz-border-radius: .1em .5em .5em 8em /.1em .5em .5em 2em;
}
.glass.knife::after {
	border-radius: 0.1em 0.5em 0.5em 8em / 0.1em 0.5em 0.5em 2em; left: 3%; width: 97%; -webkit-border-radius: .1em .5em .5em 8em /.1em .5em .5em 2em; -moz-border-radius: .1em .5em .5em 8em /.1em .5em .5em 2em;
}
.icon.glossy.knife::after {
	border-radius: 0.5em 0.5em 1em 6em / 0.5em 0.5em 1em 4em; left: 5%; width: 95%; -webkit-border-radius: .5em .5em 1em 6em /.5em .5em 1em 4em; -moz-border-radius: .5em .5em 1em 6em /.5em .5em 1em 4em;
}
.icon.glass.knife::after {
	border-radius: 0.5em 0.5em 1em 6em / 0.5em 0.5em 1em 4em; left: 5%; width: 95%; -webkit-border-radius: .5em .5em 1em 6em /.5em .5em 1em 4em; -moz-border-radius: .5em .5em 1em 6em /.5em .5em 1em 4em;
}
.shield {
	border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em; -webkit-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em; -moz-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em;
}
.glossy.shield::after {
	border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em; -webkit-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em; -moz-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em;
}
.glass.shield::after {
	border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em; -webkit-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em; -moz-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em;
}
.shield {
	padding-right: 0.8em; padding-left: 0.8em;
}
.icon.shield {
	padding-right: 0.6em; padding-left: 0.6em;
}
.drop {
	border-radius: 2em 5em 2em 0.6em / 2em 4em 2em 0.6em; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 2em 5em 2em .6em /2em 4em 2em .6em; -moz-border-radius: 2em 5em 2em .6em /2em 4em 2em .6em;
}
.glossy.drop::after {
	border-radius: 2em 6em 2em 1em / 2em 4em 2em 2em; left: 4%; -webkit-border-radius: 2em 6em 2em 1em /2em 4em 2em 2em; -moz-border-radius: 2em 6em 2em 1em /2em 4em 2em 2em;
}
.glass.drop::after {
	border-radius: 2em 6em 2em 1em / 2em 4em 2em 2em; left: 4%; -webkit-border-radius: 2em 6em 2em 1em /2em 4em 2em 2em; -moz-border-radius: 2em 6em 2em 1em /2em 4em 2em 2em;
}
.icon.drop {
	padding-right: 0.6em;
}
.morph {
	border-radius: 5em / 2em; transition:-moz-border-radius 0.3s ease-in-out; border-top-color: currentColor; border-top-width: medium; border-top-style: none; -webkit-border-radius: 5em /2em; -moz-border-radius: 5em /2em; -webkit-transition: -webkit-border-radius .3s ease-in-out; -moz-transition: -moz-border-radius .3s ease-in-out;
}
.morph:hover {
	border-radius: 0.4em 0.4em 2em 2em / 0.4em 0.4em 3em 3em; -webkit-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em; -moz-border-radius: .4em .4em 2em 2em /.4em .4em 3em 3em;
}
.morph:active {
	border-radius: 0.3em; -webkit-border-radius: .3em; -moz-border-radius: .3em;
}
.morph::after {
	display: none;
}